.readme-browser-file {
    max-width: 1012px;
    margin-right: auto !important;
    margin-left: auto !important;
    font-size-adjust: 0.55 !important;
    overflow-wrap: break-word;
}

.readme-browser-file table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.readme-browser-file strong {
    font-size-adjust: 0.58 !important;
}

.readme-browser-file a {
    text-decoration: underline dotted !important;
}
