.readme-browser-file
{
    max-width: 1012px;
    margin-right: auto !important;
    margin-left: auto !important;
    font-size: 16px !important;
    line-height: 1.1 !important;
    overflow-wrap: break-word;
}

.readme-browser-file table
{
    display: block;
    overflow-x: auto;
}

.readme-browser-file strong
{
    font-size: 105% !important;
}

.readme-browser-file a[href]
{
    text-decoration: underline dotted !important;
}

.readme-browser-file a[href]:where([href="#readme_browser_top_anchor"])::after
{
    content: '↪';
    font-size: 60% !important;
    font-family: monospace;
}

.readme-browser-file a[href]:where([href^="#"]:not([href="#readme_browser_top_anchor"]))::after
{
    content: '#';
    font-size: 65% !important;
    font-family: monospace;
}

.readme-browser-file p, .readme-browser-file ol, .readme-browser-file ul
{
    margin-bottom: 22px !important;
}

.readme-browser-file details
{
    margin-bottom: 8px !important;
}

.readme-browser-file a[href]:not([href*="://"]):not([href^="#"])::before
{
    content: '📎';
    font-size: 88% !important;
}
